/*标签选择器*/
span {
    /*color: red;*/
    font-size: 1.1em;
}

h1 {
    font-weight: normal;
    /*color: blue;*/
}

/*类选择器*/
.stress {
    color: rebeccapurple;
}

.bigSize {
    font-size: 1.5em;
}

/*id选择器*/
/*1、为标签设置id="ID名称"，而不是class="类名称"。*/
/*2、ID选择符的前面是井号（#）号。*/
#setGreen {
    color: green;
}

/*类和ID选择器的区别*/
/*相同点：可以应用于任何元素*/
/*不同点：*/
/*1、ID选择器只能在文档中使用一次。*/
/* 与类选择器不同，在一个HTML文档中，ID选择器只能使用一次，而且仅一次。而类选择器可以使用多次。*/



/*符号(>)用于选择指定标签元素的第一代子元素。*/
.food>li{border:1px solid red;}/*添加边框样式（粗细为1px， 颜色为红色的实线）*/
/*包含选择器，即加入空格,用于选择指定标签元素下的后辈元素。*/
.first  span{color:red;}
/*总结：>作用于元素的第一代后代，空格作用于元素的所有后代。*/

/*通用选择器它的作用是匹配html中所有标签元素，常用于重置浏览器样式*/
*{padding : 1em; margin :1em;}

/*伪类选择符允许给html不存在的标签（标签的某种状态）设置样式，比如说我们给html中一个标签元素的鼠标滑过的状态来设置字体颜色：*/
a:hover{color:red;font-size:20px;}
p:hover{color:aqua;}

/*分组选择符为html中多个标签元素设置同一个样式时，可以使用分组选择符（，）*/
h2,h3{color:red;} /*权值为1 +1 = 2*/
.first,#second span{color:blue;} /*权值为10 + 100 +1 = 111*/

/*有的时候我们为同一个元素设置了不同的CSS样式代码，那么元素会启用哪一个CSS样式呢？*/
/*标签的权值为1，类选择符的权值为10，ID选择符的权值最高为100。*/

/*有些特殊的情况需要为某些样式设置具有最高权值，怎么办？这时候我们可以使用!important来解决*/
h4{color:red!important;}
h4{color:green;}