html {
    font-size: 12px;
    /*这样设置，整个网页 1rem = 12px；*/
    /*rem是相对于根元素，em是相对于父元素，谷歌最小是12px。*/
}
*{padding : 0.1rem; margin :0.1rem;}
body {
    /*font-family: "宋体";*/
    font-family: "Microsoft YaHei UI";
    font-size: 2rem;
    color: #666666;
}

p span {
    font-weight: bold;
}

/*a 标签斜体*/
p a {
    font-style: italic;
}

/*a 标签下划线*/
h1 {
    text-decoration: underline;
}
/*删除线*/
.oldPrice{text-decoration: line-through;}

